/* 改变主题色变量 */

/* $--color-primary: #0078ff; */
/* 改变 icon 字体路径变量，必需 */

$--font-path: "~element-ui/lib/theme-chalk/fonts";
@import "./var.scss";

#nprogress .bar {
    background: $--color-primary;
}

.el-loading-spinner .path {
    stroke: $--color-primary;
}

.el-pager li.active {
    color: $--color-primary;
}

.el-button--primary,
.el-button--primary:focus,
.el-button--primary:hover {
    background-color: $--color-primary;
    border-color: $--color-primary;
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: $--color-primary;
}

.el-tabs__active-bar {
    background-color: $--color-primary;
}

.el-tabs__item.is-active {
    color: $--color-primary;
}

.el-tabs__item:hover {
    color: $--color-primary;
}

.carousel {
    .el-carousel__container {
        height: 100%;
    }
}
