/**
 * Created by catscorpio on 2019/3/12.
 */

$primary-color: #4848c6;
$primary-font-color: #666470;

$navbar-height: 3.5rem;
$navbar-fontsize: 1.1rem;
$footer-bg: #1c1c1d;
$footer-info-height: 5rem;
$footer-copyright-height: 3rem;

$border-radius: 6px;
$gutter: 2.4rem;

$xs:575.98px;
$sm:767.98px;
$md:991.98px;
$lg:1199.98px;
